.card {
  display: flex;
  background-color: $bg-video;
  background-repeat: no-repeat;
  width: 260px;
  height: 300px;
  color: $base-text-color-light;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 46px 41px 25px;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $base-text-color;
    inset: 0;
    opacity: 0;
    transition: opacity 400ms ease-in;
  }

  &:hover::after {
    opacity: 0.8;
  }

  &:focus::after {
    opacity: 0.8;
  }

  &:hover .card__content-wrapper {
    height: 100%;
  }

  &:focus {
    outline: none;
  }

  &:focus .card__content-wrapper {
    height: 100%;
  }
}

.card__content-wrapper {
  height: 22px;
  overflow: hidden;
  z-index: 1;
  transition: all 400ms ease;
}

.card__title {
  font-size: 22px;
  line-height: 1;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: $card-subcolor;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;
}

.card__list {
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
  padding-left: 20px;
  display: flex;
}

.card-item {
  list-style-type: disc;
  font-size: 14px;
  line-height: 22px;
}

.card--lavrov {
  background-image:
    image-set(
      url("../img/images/jury/lavrov@1x.webp") type("image/webp") 1x,
      url("../img/images/jury/lavrov@2x.webp") type("image/webp") 2x,
      url("../img/images/jury/lavrov@1x.jpg") type("image/jpg") 1x,
      url("../img/images/jury/lavrov@2x.jpg") type("image/jpg") 2x);
}

.card--pashkov {
  background-image:
    image-set(
      url("../img/images/jury/pashkov@1x.webp") type("image/webp") 1x,
      url("../img/images/jury/pashkov@2x.webp") type("image/webp") 2x,
      url("../img/images/jury/pashkov@1x.jpg") type("image/jpg") 1x,
      url("../img/images/jury/pashkov@2x.jpg") type("image/jpg") 2x);
}

.card--ketova {
  background-image:
    image-set(
      url("../img/images/jury/ketova@1x.webp") type("image/webp") 1x,
      url("../img/images/jury/ketova@2x.webp") type("image/webp") 2x,
      url("../img/images/jury/ketova@1x.jpg") type("image/jpg") 1x,
      url("../img/images/jury/ketova@2x.jpg") type("image/jpg") 2x);
}

.card--pavlova {
  background-image:
    image-set(
      url("../img/images/jury/pavlova@1x.webp") type("image/webp") 1x,
      url("../img/images/jury/pavlova@2x.webp") type("image/webp") 2x,
      url("../img/images/jury/pavlova@1x.jpg") type("image/jpg") 1x,
      url("../img/images/jury/pavlova@2x.jpg") type("image/jpg") 2x);
}
