.jury {
  position: relative;
}

.jury__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.jury__swiper {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (width >= 1100px) {
    width: 860px;
  }

  @media (width >= $desktop-width) {
    width: 1160px;
  }
}

.jury__title {
  margin: 1px 0 19px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 1;
    margin-bottom: 46px;
    text-align: center;
  }
}

.jury__list {
  @include list-reset;

  display: flex;
}
