.swiper-button {
  @media (max-width: $max-mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 45px;
    height: 45px;
    z-index: 100;
    position: absolute;
    top: 48%;
    transform: translateY(50%);
    background-color: transparent;
    border: none;
    border-radius: 100%;
    transition: all 200ms ease;

    &::after {
      content: "";
      mask-image: url("../__spritemap#sprite-slider-arrow-view");
      mask-repeat: no-repeat;
      width: 18px;
      height: 32px;
      position: absolute;
      z-index: 100;
      inset: 0;
      margin: auto;
      background-color: $base-text-color;
    }

    @media (min-width: $desktop-width) {
      top: 50%;
    }
  }
}

.swiper-button-prev {
  left: 44px;
}

.swiper-button-next {
  right: 44px;

  &::after {
    transform: rotate(180deg);
  }
}

// стрелки отзывов
.swiper-button--reviews {
  top: 45%;

  @media (min-width: $desktop-width) {
    top: calc(49% + 1px);
  }
}

.swiper-button--reviews-prev {
  left: 4%;

  @media (min-width: $desktop-width) {
    left: calc(21% + 4px);
  }
}

.swiper-button--reviews-next {
  right: 4%;

  @media (min-width: $desktop-width) {
    right: calc(21% + 4px);
  }

  &::after {
    transform: rotate(180deg);
  }
}

.swiper-button:disabled {
  pointer-events: none;

  &::after {
    background-color: $swiper-disabled;
    pointer-events: none;
  }
}

.swiper-button:hover {
  border: 1px solid $base-text-color;
}

.swiper-button:focus-visible {
  border: 1px solid $base-text-color;
  background-color: $price-shadow;
  outline-color: transparent;
}

.swiper-button:active {
  background-color: $base-text-color;

  &::after {
    background-color: $base-text-color-light;
  }
}
