.button {
  font-family: $primary-font;

  font-size: 12px;
  line-height: 12px;

  // font-weight: 700;
  text-align: center;
  border: none;
  padding: 22px;
  text-transform: uppercase;
  text-decoration: none;

  margin: 0;
}

.button--primary {
  border: 2px solid $base-text-color-light;
  color: $base-text-color-light;
}
